<p><h3><%= link_to 'Станции', admin_railway_stations_path %></h3></p>
<p><h3><%= link_to 'Маршруты', admin_routes_path %></h3></p>
<p><h3><%= link_to 'Поезда', admin_trains_path %></h3></p>
<p><h3><%= link_to 'Билеты', admin_tickets_path %></h3></p>