<h1>Билеты</h1>

<table class="table">
  <thead>
    <tr>
      <th>e-mail</th>
      <th>Маршрут</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
  
</table>
