<table>
  <thead>
    <tr>
      <th>Сидячие вагоны</th>
    </tr>
    <tr>
      <th width="150px">Сидячие места</th>
    </tr>
  </thead>
  <tbody>
    <td><%= @train.sum_seats(SittingWagon, 'sitting_seats') %></td>
  </tbody>
</table>