<table>
  <thead>
    <tr>
      <th colspan="2">Купейные вагоны</th>
    </tr>
    <tr>
      <th width="150px">Верхние места</th>
      <th width="150px">Нижние места</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @train.sum_seats(CoupeWagon, 'top_seats')%></td>
      <td><%= @train.sum_seats(CoupeWagon, 'bottom_seats') %></td>
    </tr>
  </tbody>
</table>