<table>
  <thead>
    <tr>
      <th colspan="2">СВ вагоны</th>
    </tr>
    <tr>
      <th width="150px">Нижние места</th>
      <th width="150px">Нижние боковые места</th>
    </tr>
  </thead>
  <tbody>
    <td><%= @train.sum_seats(SVWagon, 'bottom_seats') %></td>
    <td><%= @train.sum_seats(SVWagon, 'side_bottom_seats') %></td>
  </tbody>
</table>